html {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #e7e7e7;
}

header {
  background-color: #1f1f1f;
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
}

.logo {
  display: flex;
  padding: 7px;
}

body {
  margin: 0;
}




@media (min-width: 700px) {
  
  header {
    display: block;
  }

  nav {
    display: inline;
    display: flex;
    justify-content: space-between;
  }
  
  li {
    display: flex;
    float: left;
    flex: 1;
  }

  li .link {
    background-color: #1f1f1f;
    display: block;
    text-decoration: none;
    color: #ffffff;
    text-align: center;
    width: 100%;
    padding: 10px 0 10px 0;
    border-left: 1px solid #606060;
    border-top: 1px solid #606060;
  }
  
  li:first-child .link {
    border-left: none;
  }
  
  li .link:hover {
    background-color: #3f3f3f;
  }

}