html {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #e7e7e7;
}

header {
  background-color: #1f1f1f;
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
}

.logo {
  display: flex;
  padding: 7px;
}

body {
  margin: 0;
}



@media (min-width: 700px) {
  
  header {
    display: block;
  }
}